<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Student Grade Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">Student Grade Predictor</span></h2>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('predict') }}" method="POST">
                <input class="form-input" type="text" name="absences" placeholder="Enter number of school absences (numeric: from 0 to 93)"required="required"><br>
                <input class="form-input" type="text" name="G1" placeholder="Enter grade-1 (numeric: from 0 to 20)"required="required"><br>
                <input class="form-input" type="text" name="G2" placeholder="Enter grade-2 (numeric: from 0 to 20)" required="required"><br>

        		<input type="submit" class="my-cta-button" value="Predict">
        	</form>
    	</div>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="https://github.com/Nitish-McQueen/Grade_Prediction_Deployment"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="nkedin.com/in/nitish-kumar-nayak-31a86a147/"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made with ❤️ by Nitish.</p>
       </div>

    </body>
</html>
